<div>
    <div class="logo"><a href="#">
        <img src="../images/logo.png" alt="" title="" border="0" /></a></div>
</div>
<div>
    <div class="menu">
        <ul>
            <li><a href="#milkdata">
                <img src="../images/icons/services.png" alt="" title="" /><span>Milk Entry</span></a></li>
            <li><a href="#ration">
                <img src="../images/icons/docs.png" alt="" title="" /><span>Ration</span></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>



